<%- include("partials/header"); %>
<main class="vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px">
    <% if (success_msg.length > 0) { %>
    <div class="alert alert-success" role="alert"><%= success_msg %></div>
    <% } %> <% if (error_msg.length > 0) { %>
    <div class="alert alert-danger" role="alert"><%= error_msg %></div>
    <% } %>
    <div class="card-body">
      <h1 class="text-center mb-4">Login</h1>
      <form action="/auth/login" method="POST">
        <!-- Username Input-->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Enter your username"
            required
          />
        </div>
        <!-- Password Input -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter your password"
            required
          />
        </div>
        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div class="mt-2">
        <p class="text-center">Don't have an account? Register below.</p>
        <a href="/auth/register"
          ><button class="btn btn-success w-100">Register</button></a
        >
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer"); %>
